#navbar {
	height: 15vh;
	width: 100vw;
}

#logo-container {
	width: 100vw;
}

#logo-img {
	margin: 0 auto;
	width: 22em;
}

.tile {
	margin-left: 2em;
	margin-right: 2em;
	margin-bottom: 2em;
	background: white;
}

@media only screen and (min-width: 768px) {
	/* for desktop and iPad */
	.tile { 
		width: 30vw; 
	}
}