#navbar {
	height: 15vh;
	width: 100vw;
}

#logo-container {
	width: 100vw;
}

#logo-img {
	margin: 0 auto;
	width: 22em;
}

.row {

}

.tile {
	padding-left: 5em;
	padding-right: 5em;
	background: white;
}