body {
	background-color: rgba(241,241,241,.5);
}

#navbar {
	background-color: #fff;
	height: 15vh;
	width: 100vw;
}

.navbar-nav {
	width: 15em;
	font-size: 1.5em;
}

.navbar-nav a:link, .navbar-nav a:visited {
	color: #000;
	margin-right: 2em;
}

.navbar-nav a:hover {
	color: #0000ff;
}

#logo-container {
	width: 100vw;
}

#logo-img {
	width: 22em;
}

#tile-control-container {
	margin-top: 2em;
	max-width: 80%;
}

#tile-type-dropdown {
	background-color: #fff;
}

#tile-type-dropdown, #tile-control-text-row {
	font-size: 1.3em;
}

#tiles-display {
	height: 100vh;
}

.tile {
	margin: 2em;
	background: white;
}

@media only screen and (min-width: 768px) {
	/* for desktop and iPad */

	#tile-control-container {
		margin-left: 2em;
	}

	#tile-type-dropdown {
		margin-right: 1.5em;
	}

	.tile { 
		width: 30vw; 
	}
}

@media only screen and (max-width: 768px) {
	/* for smartphones */

	#tile-type-dropdown {
		margin-bottom: 1.3em;
	}

}